.hero
  .container
    .row
      .col-md-6.col-md-offset-6
        .hero__login
          %h1 Create, Listen, Share
          = form_for :session, url: sessions_path do |f|
            .form-group
              = f.label :email
              = f.text_field :email, required: true, autofocus: true, class: "form-control"
            .form-group
              = f.label :password
              = f.password_field :password, required: true, class: "form-control"

            = f.submit "Sign in now", class: "btn btn-primary"
          %label
            Don't have an account?
            %a{href: new_user_path} Sign up
          %label
            Forgot your password?
            %a{href: new_password_reset_path} Reset it

.container
  .row
    .col-md-4
      .featured-tile
        .featured-tile__icon-group
          %span.fa-stack.fa-2x.icon
            %i.fa.fa-circle.fa-stack-2x
            %i.fa.fa-microphone.fa-stack-1x.fa-inverse

        .featured-tile__content
          %h3.flush--top Highest quality
          %p.light We use professional equipment and the most advanced recording techniques

    .col-md-4
      .featured-tile
        .featured-tile__icon-group
          %span.fa-stack.fa-2x.icon
            %i.fa.fa-circle.fa-stack-2x
            %i.fa.fa-cloud-download.fa-stack-1x.fa-inverse

        .featured-tile__content
          %h3.flush--top Digital downloads
          %p.light All recordings are available as digital downloads at no extra charge! DVDs and CDs are also available.

    .col-md-4
      .featured-tile
        .featured-tile__icon-group
          %span.fa-stack.fa-2x.icon
            %i.fa.fa-circle.fa-stack-2x
            %i.fa.fa-rocket.fa-stack-1x.fa-inverse

        .featured-tile__content
          %h3.flush--top Fast turnaround
          %p.light Get your recordings delivered quickly and without hassle.


  %h1.callout Pricing

  = render partial: "recordings/prices"
