= simple_form_for recording do |f|
  = f.input :datetime, label: "When", as: :string
  = f.input :location, label: "Where"
  = f.input :context
  = f.input :level
  = f.input :cds
  = f.input :dvds
  = f.submit "Request recording"