.container
  .row
    .col-md-8
      %h2 Request a recording
      = simple_form_for recording do |f|
        .form-group
          = f.input :datetime, label: "When", ampm: true, input_html: { class: "form-control" }
        .form-group
          = f.input :location, label: "Where", input_html: { class: "form-control" }

        = f.input :context, label: "What will this recording be for?", as: :radio, collection: ["Live Performance", "Private Recording Session"]
        = f.input :level, label: "What type of recording will you be needing?", as: :radio, collection: ["Audio and Video", "Audio Only"]
        .form-group
          = f.input :cds, label: "Number of CDs", input_html: { class: "form-control" }
        .form-group
          = f.input :dvds, label: "Number of DVDs", input_html: { class: "form-control" }
        = f.submit "Request recording", class: "btn btn-primary"

  = render partial: "recordings/prices"
