.row
  .large-6.columns.large-offset-3
    %h2 Sign up
    = simple_form_for user do |f|
      = f.input :first_name
      = f.input :last_name
      = f.input :email
      = f.input :password
      = f.input :password_confirmation, label: "Confirm password"
      = f.submit "Sign up!", class: "button button--info"