.container
  .row
    .col-md-6.col-md-offset-3
      %h2 Sign up
      = simple_form_for user do |f|
        .form-group
          = f.input :first_name, input_html: { class: "form-control" }
        .form-group
          = f.input :last_name, input_html: { class: "form-control" }
        .form-group
          = f.input :email, input_html: { class: "form-control" }
        .form-group
          = f.input :password, input_html: { class: "form-control" }
        .form-group
          = f.input :password_confirmation, label: "Confirm password", input_html: { class: "form-control" }
        = f.submit "Sign up!", class: "button button--info", input_html: { class: "form-control" }
