<div class="row">
  <div class="col-md-5 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        Recording Details
      </div>
      <div class="panel-body">
        {{#form-group errors=errors.datetime}}
          <label class="control-label" for="recording-datetime">When</label>
          {{bootstrap-datepicker value=datetime inputId="recording-datetime"}}
        {{/form-group}}

        {{#form-group errors=errors.location}}
          <label class="control-label" for="recording-location">Where</label>
          {{input value=location id="recording-location" class="form-control"}}
          <p class="help-block">example: Werner Hall, CCM</p>
        {{/form-group}}

        {{#form-group errors=errors.context}}
          <label class="control-label" for="recording-context">What will this recording be for?</label>
          <div class="radio">
            <label>
              {{radio-button name="recording-context" value="Live Performance" selection=context}}
              Live Performance
            </label>
          </div>

          <div class="radio">
            <label>
              {{radio-button name="recording-context" value="Private Recording Session" selection=context}}
              Private Recording Session
            </label>
          </div>
        {{/form-group}}

        {{#if isLivePerformance}}
          {{#form-group errors=errors.live_stream}}
            <label class="control-label">Would you like your performance live streamed? <a href="#" {{action 'openModal' 'live-stream-help'}}>Learn More</a></label>

            <div class="radio">
              <label>
                {{boolean-radio-button name="recording-live-stream" value="0" selection=liveStream}}
                No
              </label>
            </div>

            <div class="radio">
              <label>
                {{boolean-radio-button name="recording-live-stream" value="1" selection=liveStream}}
                Yes - <span class="light">$50</span>
              </label>
            </div>
          {{/form-group}}
        {{/if}}

        {{#form-group errors=errors.level}}
          <label class="control-label">What type of recording do you need? <a href="#" {{action 'openModal' 'recording-level-help'}}>Learn More</a></label>
          <div class="radio">
            <label>
              {{radio-button name="recording-level" value="Multi Camera" selection=level}}
              Multi Camera - <span class="light">$250 per hour</span>
            </label>
          </div>
          
          <div class="radio">
            <label>
              {{radio-button name="recording-level" value="Single Camera" selection=level}}
              Single Camera - <span class="light">$150 per hour</span>
            </label>
          </div>

          <div class="radio">
            <label>
              {{radio-button name="recording-level" value="Audio Only" selection=level}}
              Audio Only - <span class="light">$100 per hour</span>
            </label>
          </div>
        {{/form-group}}

        {{#form-group errors=errors.duration}}
          <label class="control-label" for="recording-duration">How many hours of recording do you anticipate needing?</label>
          {{number-picker value=duration inputId="recording-duration" min="1" step="0.5"}}
        {{/form-group}}

        <div class="row">
          <div class="col-md-4">
            {{#form-group errors=errors.cds}}
              <label class="control-label" for="recording-cds">CDs - <span class="light">$20 each</span></label>
              {{number-picker value=cds inputId="recording-cds"}}
            {{/form-group}}
          </div>
          
          <div class="col-md-6">
            {{#form-group errors=errors.dvds}}
              <label class="control-label" for="recording-dvds">DVDs - <span class="light">$20 each</span></label>
              {{number-picker value=dvds inputId="recording-dvds"}}
            {{/form-group}}
          </div>
        </div>

        <div class="actions push">
          {{#if model.isSaving}}
            <button disabled="disabled" class="btn btn-primary btn-block">Saving...</button>
          {{else}}
            <button {{action "save" this}} class="btn btn-primary btn-block">Request recording</button>
          {{/if}}
        </div>

        {{#if hasError}}
          <div class="alert alert-danger">
            <p>Uh-oh! Something went wrong. Please try again, or contact <a href="mailto:kevin@rockwoodpro.com">kevin@rockwoodpro.com</a> and we'll get it figured out.</p>
          </div>
        {{/if}}
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        Price Summary
      </div>
      <table class="table price-table">
        <tbody>
        <tr> 
          <td>Recording</td>
          <td class="price-table__price">{{currency recordingPrice}}</td>
        </tr>
        <tr>
          <td>Discs</td>
          <td class="price-table__price">{{currency discPrice}}</td>
        </td>
        </tbody>
        <tfoot>
          <tr>
            <td>Total</td>
            <td class="price-table__price">{{currency totalPrice}}</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
