{{media-element src=controllers.currentlyPlaying.fileUrl}}

<table class="playlist">
  <tbody>
    {{#each pieces itemController="piece"}}
      <tr {{action play this}} {{bindAttr class=":playlist__item playing:playlist__item--active"}}>
        <td class="playlist__actions"><i class="icon-play-circle"></td>
        <td>{{title}}</td>
        <td>{{performer}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>