{{#if isFinished}}
  {{media-element src=controllers.currentlyPlaying.fileUrl didEnd="videoDidEnd"}}
  <table class="playlist">
    <tbody>
      {{#each pieces itemController="piece"}}
        <tr {{action play this}} {{bindAttr class=":playlist__item playing:playlist__item--active"}}>
          <td class="playlist__actions">
            <a target="_blank" {{bind-attr href=this.fileUrl}}><i class="fa fa-cloud-download"></i></a>
            {{#if isPlayable}}
              <a {{action play this}}><i class="fa fa-play-circle"></i></a>
            {{/if}}
          </td>
          <td>{{filename}}</td>
          <td>{{filetype}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <div class="main__content">
    <dl>
      <dt>Status:</dt>
      <dd class="recording__state">
        <label {{bind-attr class=":badge badgeClass"}}>{{state}}</label>
      </dd>
    </dl>
    <dl>
      <dt>When:</dt>
      <dd class="recording__datetime">{{datetime datetime}}</dd>
    </dl>
    <dl>
      <dt>Where:</dt>
      <dd class="recording__location">{{location}}</dd>
    </dl>
    <dl>
      <dt>CDs:</dt>
      <dd class="recording__cds">{{cds}}</dd>
    </dl>
    <dl>
      <dt>DVDs:</dt>
      <dd class="recording__dvds">{{dvds}}</dd>
    </dl>
  </div>
{{/if}}