{{#if isFinished}}
  {{media-element src=controllers.currentlyPlaying.fileUrl poster=controllers.currentlyPlaying.posterUrl didEnd="videoDidEnd"}}
  <table class="playlist">
    <thead>
      <tr>
        <th></th>
        <th>Filename</th>
        <th>Type</th>
        <th>Shared</th>
      </tr>
    </thead>
    <tbody>
      {{#each pieces itemController="piece"}}
      <tr {{action 'play' this}} {{bind-attr class=":playlist__item playing:playlist__item--active"}} data-test="piece-{{unbound id}}">
          <td class="playlist__actions">
            <a class="playlist__action" {{action 'download' fileUrl}}><i class="fa fa-cloud-download"></i></a>
            {{#if isPlayable}}
              <a class="playlist__action" {{action 'play' this}}><i class="fa fa-play-circle"></i></a>
            {{/if}}
          </td>
          <td>{{filename}}</td>
          <td class="playlist__filetype">{{filetype}}</td>
          <td>
            {{toggle-switch isOn=shared action="savePiece" data-test="share-piece"}} 
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}

  {{#if isRequested}}
    <div class="alert alert-success">
      <h4>Thanks for requesting!</h4>
      <p>I'll take a look at my schedule and let you know if I'm available.</p>
    </div>
  {{/if}}

  <div class="push">
       <dl>
      <dt>Status:</dt>
      <dd class="recording__state">
        <label {{bind-attr class=":label labelClass"}}>{{state}}</label>
      </dd>
    </dl>
    <dl>
      <dt>When:</dt>
      <dd class="recording__datetime">{{datetime datetime}}</dd>
    </dl>
    <dl>
      <dt>Where:</dt>
      <dd class="recording__location">{{location}}</dd>
    </dl>
    <dl>
      <dt>CDs:</dt>
      <dd class="recording__cds">{{cds}}</dd>
    </dl>
    <dl>
      <dt>DVDs:</dt>
      <dd class="recording__dvds">{{dvds}}</dd>
    </dl>
  </div>
{{/if}}
