!!! 5
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Rockwood Productions
    %meta{ "http-equiv" => "X-UA-Compatible", "content" => "IE=edge" }

    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags

    /[if lt IE 9]
      = stylesheet_link_tag "ie", media: "all"
      = javascript_include_tag "html5shiv"

  %body
    .brand-bar
      .row
        .large-4.columns
          %a.brand-bar__logo{href: root_path}
            %img.logo__image{src: image_path('logo.png'), alt: "Rockwood Productions"}

        .large-8.columns
          %nav.brand-bar__nav
            - if current_user
              %a.button.button--info{href: sign_out_path} Sign Out
              %a.button.button--info{href: new_recording_path} Request a Recording
            - else
              %a.button.button--info{href: new_user_path} Sign Up

    - if flash.present?
      .flashes
        - flash.each do |level, message|
          %div{class: "flash flash--#{level}"}
            %span.flash__message= message
            %a.flash__dismiss &times;

    = yield
    = javascript_include_tag "application"
    = yield :javascript
