!!! 5
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Rockwood Productions
    %meta{ "http-equiv" => "X-UA-Compatible", "content" => "IE=edge" }
    = favicon_link_tag "favicon.ico"
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags

    /[if lt IE 9]
      = stylesheet_link_tag "ie", media: "all"
      = javascript_include_tag "html5shiv"

  %body
    .brand-bar
      .container
        .row
          .col-md-8.col-sm-8
            %a.brand-bar__logo{href: root_path}
              %img.logo__image{src: image_path('logo.png'), alt: "Rockwood Productions"}

          .col-md-4.col-sm-4
            %nav.brand-bar__nav
              - if current_user
                %a.btn.btn-default{href: sign_out_path} Sign Out
                %a.btn.btn-default{href: app_path(anchor: "/recording/new")} Request a Recording
              - else
                %a.btn.btn-default{href: new_user_path} Sign Up

    - if flash.present?
      .flashes
        - flash.each do |level, message|
          %div{class: "flash flash--#{level}"}
            .flash__content
              %span.flash__message= message
              %a.flash__dismiss &times;

    = yield
    = javascript_include_tag "application"
    = yield :javascript
