!!! 5
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Rockwood Productions
    %meta{ "http-equiv" => "X-UA-Compatible", "content" => "IE=edge" }

    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags

  %body
    .brand-bar
      %a.brand-bar__logo{href: root_path}
        %img.logo__image{src: image_path('logo.png'), alt: "Rockwood Productions"}

      .brand-bar__flashes
        - flash.each do |level, message|
          %div{class: "flash flash--#{level}"}= message

      %nav.brand-bar__nav
        - if current_user
          %a{href: sign_out_path} Sign Out
          %a{href: new_recording_path} Request a Recording
        - else
          %a.main-nav{href: new_user_path} Sign Up

    = yield
    = yield :javascript
