!!! 5
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Rockwood Productions
    %meta{ "http-equiv" => "X-UA-Compatible", "content" => "IE=edge" }

    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags

  %body
    .navbar
      .row
        .large-4.columns
          %img.logo{src: image_path('logo.png'), alt: "Rockwood Productions"}
        %nav.main-nav.large-6.columns
          - if current_user
            %a.button{href: sign_out_path} Sign Out
            %a.button{href: new_recording_path} Request a Recording
          - else
            %a.button{href: new_user_path} Sign Up

    = render partial: 'shared/flash_messages'
    = yield
    = yield :javascript
